In [2]:
import logging
logging.basicConfig()
logger = logging.getLogger("stlarm")
logger.setLevel(logging.INFO)

from stlarm import analyzer

In [6]:
STEP_KB_FILE = "../resources/step_nyc_foursquare_period_2_2_None_filtered_triples.nt"
CONVERTED_KB_FILE = "../resources/converted_nyc_foursquare_period_2_2_None_filtered_triples.nt"

In [11]:
kba = analyzer.KBAnalyzer()
step_kb = kba.analyse_kb(STEP_KB_FILE)
converted_kb = kba.analyse_kb(CONVERTED_KB_FILE)

INFO:stlarm.analyzer:Processing ../resources/step_nyc_foursquare_period_2_2_None_filtered_triples.nt
INFO:stlarm.analyzer:[Done] amie.data.utils.KBsSummarizer
INFO:stlarm.analyzer:Processing ../resources/converted_nyc_foursquare_period_2_2_None_filtered_triples.nt
INFO:stlarm.analyzer:[Done] amie.data.utils.KBsSummarizer

In [12]:
step_kb.round(2)

,Relation,Triples,Functionality,Inverse functionality,Variance,Inverse Variance,Number of subjects,Number of objects
0,<hasEpisode>,431112,0.23,0.08,10.49,48.10,98118,35460
1,<hasFeature>,151627,0.52,1.00,1.06,0.00,79554,151627
2,<relatesTo>,106079,0.33,0.71,0.01,13.59,35460,74997
3,<hasSemanticDescription>,53636,1.00,0.00,0.00,11417580.95,53509,33
4,<hasTrajectory>,4557,0.03,1.00,696.97,0.00,158,4557
5,TOTAL,747011,NaN,NaN,NaN,NaN,266799,266674

In [13]:
converted_kb.round(2)

,Relation,Triples,Functionality,Inverse functionality,Variance,Inverse Variance,Number of subjects,Number of objects
0,<before>,145598,0.21,0.21,12.24,12.24,30903,30903
1,<withinRadius>,134710,0.23,0.23,10.80,10.80,30811,30811
2,<withinTimeWindow>,115344,0.28,0.28,6.04,6.04,31847,31847
3,<hasCheckin>,35460,0.13,1.00,11.13,0.00,4557,35460
4,<hasPOI>,35460,1.00,0.12,0.00,185.31,35460,4378
5,<hasTime>,35460,1.00,0.00,0.00,7375860.67,35460,3
6,<hasTrajectoryCategory>,4675,0.97,0.00,0.03,2110008.22,4557,3
7,<hasTrajectory>,4557,0.03,1.00,696.97,0.00,158,4557
8,<hasDayOfTheWeek>,4557,1.00,0.00,0.00,11666.86,4557,7
9,<hasMonth>,4557,1.00,0.00,0.00,99114.38,4557,11
10,<hasPOICategory>,4387,1.00,0.00,0.00,101304.69,4378,9
11,TOTAL,524765,NaN,NaN,NaN,NaN,44553,44428